@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'M PLUS 1p';
	src: url('../fonts/MPLUS1p-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'M PLUS 1p';
	src: url('../fonts/MPLUS1p-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
