@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

/**
 Упрощаем работу с изображениями
*/
img {
  display: block;
  max-width: 100%;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
 Приводим к единому цвету svg-элементы
*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS 1p";
  src: url("../fonts/MPLUS1p-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS 1p";
  src: url("../fonts/MPLUS1p-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark-blue: #122947;
  --color-gray: #B3BAC1;
  --color-light-gray: #F8F8F6;
  --color-light-gray-alternate: #F4F1ED;
  --color-orange: orange;
  --font-famile: "Raleway", sans-serif;
  --font-famile-accent: "M PLUS 1p", sans-serif;
  --font-size-link: 16px
  --line-heght-link: 1.4;
  --input-height: 41px;
  --header-height: 102px;
  --border: 1px solid var(--color-gray);
  --text-container-width: 400px;
  --container-width: 1170px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-famile-accent);
  font-size: 18px;
  line-height: 1.45;
  color: var(--color-dark-blue);
  background-color: var(--color-light-gray);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-famile);
  font-weight: 500;
  font-size: 32px;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a, button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size-link);
  line-height: var(--line-height-link);
  white-space: nowrap;
  color: currentColor;
  background-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-orange);
}

button {
  height: var(--input-height);
  padding-inline: 34px;
  background-color: none;
  border: var(--border);
  border-radius: 2px;
}

img,
.shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.margin-bottom-header, .margin-bottom-main section {
  margin-bottom: 140px;
}

/* width for tex-container */
.text-container {
  width: var(--text-container-width);
  text-align: start;
}
.text-container p {
  margin-bottom: 40px;
}

/* two settings: center, right */
.center-for-items, .center-in-right-for-one-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* for center */
.center-for-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* for right */
.center-in-right-for-one-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.center-in-right-for-one-item div {
  margin-right: 100px;
}

/* for background image */
.bcg-settings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background-image: url(../img/header/header-fone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  min-height: var(--header-height);
}

.header-burger-menu {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  z-index: 2;
  background-color: transparent;
}
.header-burger-menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-burger-menu span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.header-burger-menu span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header.open .header-burger-menu span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header.open .header-burger-menu span:nth-child(2) {
  opacity: 0;
}

.header.open .header-burger-menu span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.header a {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: auto;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  margin-right: 51px;
}

.header-menu-link {
  height: var(--header-height);
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  min-height: clamp(320px, 100dvh - var(--header-height), 1050px);
}

.banner-text {
  margin-top: 61px;
  text-align: center;
}
.banner-text h3 {
  text-transform: uppercase;
  font-size: 58px;
  margin-bottom: 5px;
}
.banner-text p {
  margin-bottom: 40px;
}

.banner-items-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; /* Отменяет перенос карточек на новую строку */
  overflow-x: auto; /* Позволяет прокручивать карточки в горизонтальном направлении */
  -webkit-overflow-scrolling: touch; /* Включает более плавную прокрутку на мобильных устройствах */
  scrollbar-width: none; /* Скрывает полосу прокрутки для более современных браузеров */
  -ms-overflow-style: none; /* Скрывает полосу прокрутки для Internet Explorer и Edge */
}

.card-container::-webkit-scrollbar {
  height: 10px;
}

.card-container::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.331); /* цвет дорожки */
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; /* Отменяет увеличение размера карточки */
  height: 312px;
  width: 230px; /* Ширина карточки товара */
  margin-right: 30px; /* Расстояние между карточками */
  background-color: #f2f2f2; /* Цвет фона карточки */
  /* Другие стили карточки */
}

/* .slider-image {
	height: 312px;
  width: 230px; 
} */
.bcg-image-Individual-care-class {
  background-image: url(../img/banner-Individual-care.jpg);
}

.main-banner-Individual-care {
  height: 400px;
}

@media (max-width: 1300px) {
  .header-bar {
    padding-inline: 40px;
  }
}
@media (max-width: 1200px) {
  .header-banner {
    -webkit-column-gap: 65px;
       -moz-column-gap: 65px;
            column-gap: 65px;
  }
  .is-none {
    display: none;
  }
}
@media (max-width: 827px) {
  .margin-bottom-header, .margin-bottom-main section {
    margin-bottom: 40px;
  }
  .header.open .header-menu {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .header-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    padding-inline: 20px;
  }
  .header-burger-menu {
    display: block;
  }
  .header a {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-inline: auto;
  }
  .header-menu {
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    padding-top: 102px;
    padding-bottom: 51px;
    padding-inline: 20px;
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
    background-color: rgb(240, 241, 218);
  }
  .header-menu-list {
    display: block;
  }
  /* Header-banner */
  .header-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .center-for-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .slider {
    max-width: 75%;
  }
}
@media (max-width: 500px) {
  .header-logo {
    max-width: 30%;
  }
  .banner-items-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner-image {
    max-width: 70%;
    height: auto;
  }
  .banner-text h3 {
    font-size: 35px;
  }
  .banner-text p {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .card {
    height: 234px;
    width: 173px;
  }
  .center-in-right-for-one-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .center-in-right-for-one-item div {
    margin-right: 0;
  }
}